<!DOCTYPE html>
<html>
<head>
	<title>awesomeContact: A contact form backend for your static site.</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div>
	<div class="flair"></div>
		<nav class="navbar">
			<h5 class="logo fw-black mt-1">awesomeContact.</h5>
			<ul class="nav-links mt-1">
				<li class="nav-item fw-medium"><a href="#">Dashboard</a></li>
				<li class="nav-item fw-medium"><a href="#">Log out</a></li>
			</ul>
		</nav>
</div>
<div class="container">
	<h1 class="fw-black mt-2">Choose a plan:</h1>
	<div class="row">
		<div class="four columns mt-1">
			<h3 class="fw-medium">$5.99/month</h3>
			<p>Upto 2 unique contact forms.</p>
			<p>Up to 10,000 emails.</p>
			<p>Spam protection.</p>
			<p>Reliable support.</p>
			<button class="button btn-alt mt-1">Get started with our $5.99 plan</button>
		</div>
		<div class="four columns mt-1">
			<h3 class="fw-medium">$9.99/month</h3>
			<p>Upto 5 unique contact forms.</p>
			<p>Up to 10,000 emails.</p>
			<p>Spam protection.</p>
			<p>Reliable support.</p>
			<button class="button btn-alt mt-1">Get started with our $9.99 plan</button>
		</div>
		<div class="four columns mt-1">
			<h3 class="fw-medium">$80/year</h3>
			<p>Upto 5 unique contact forms.</p>
			<p>Up to 10,000 emails.</p>
			<p>4 months free.</p>
			<p>Reliable support.</p>
			<button class="button btn-alt mt-1">Get started with our $80 plan</button>
		</div>
	</div>
</div>
<footer class="text-center mt-3">
	<p>Follow us on:</p>
	<a href="">Twitter</a>
	<a href="">Facebook</a>
	<a href="">indieHackers</a>
	<p>&copyawesomeContact 2019</p>
</footer>
</body>