<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144593851-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-144593851-1');
	</script>
</head>
<body>
	<div class="flair"></div>
<div class="container">
	<h2 class="mt-3 fw-medium">Hey i'm Charles.</h2>
	<h3>Got a question, suggestion or need help? Do get in touch.</h3>
	<form class="mt-3" method="POST" action="https://awesomecontact.me/623773883/kiariecharles77@gmail.com">
		<label for="email">Email</label>
     	<input class="u-full-width" type="email" name="email">
     	<label for="email">Subject</label>
     	<input class="u-full-width" type="text" name="subject">
     	<label for="email">Message</label>
     	<input class="u-full-width" type="text" name="message">
     	<button class="button btn-main mt-1" type="submit" value="Submit">Log in</button>
	</form>
	<footer class="text-center">
		<p>Follow us on:</p>
		<a class="link-main" href="https://twitter.com/CharlesKiarie77">Twitter</a>
		<a class="link-main" href="https://www.indiehackers.com/charleskiarie">indieHackers</a>
		<p>Powered by <a class="link-main" href="">awesomeContact</a></p>
		<p>&copyawesomeContact 2019</p>
	</footer>
</div>
</body>
</html>