<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144593851-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-144593851-1');
	</script>
</head>
<body>
	<div class="flair"></div>
	<div class="container">
		<h3 class="fw-black mt-3">awesomeContact | Log in</h3>
		<% if(Object.keys(errors).length > 0) { %>
			<% for (const key of Object.keys(errors)) { %>
			    <p class="text-warning"><%=errors[key]%><p>
			<% } %>
		<% } %>
		<form method="POST" action="/login">
			<label for="email">Email</label>
	     	<input class="u-full-width" type="email" name="email" placeholder="name@email.com" id="email">
	     	<label for="password">Password</label>
	      	<input class="u-full-width" type="password" name="password" id="password">
	     	<button class="button btn-main mt-1" type="submit" value="Submit">Log in</button>
		</form>
		<p class="text-center">Don't have an account? <a class="link-main" href="/signup">Sign up</a></p>
	</div>
</body>
</html>