<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
</head>
<body>
	<h3>Log in</h3>
	<div class="container">
		<form method="POST" action="/login">
			<label for="email">Your email</label>
	     	<input class="u-full-width" type="email" name="email" placeholder="name@email.com" id="email">
	     	<label for="password">Password</label>
	      	<input class="u-full-width" type="password" name="password" id="password">
	     	<button class="button-primary" type="submit" value="Submit">Log in</button>
		</form>
	</div>
</body>
</html>