<!DOCTYPE html>
<html>
<head>
	<title>awesomeContact: A contact form backend for your static site.</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="text-center">
<iframe class="mt-3" src="https://giphy.com/embed/ErZ8hv5eO92JW" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/kawaii-wink-ErZ8hv5eO92JW">via GIPHY</a></p>
<h1 class="text-success fw-black">Thank You!</h1>
<p class="fw-medium">Your email has been sent succesfully.</p>
<footer class="mt-3">
	<p>Follow us on:</p>
	<a class="link-main" href="https://twitter.com/CharlesKiarie77">Twitter</a>
	<a class="link-main" href="https://www.indiehackers.com/charleskiarie">indieHackers</a>
	<p>Powered by <a class="link-main" href="">awesomeContact</a></p>
	<p>&copyawesomeContact 2019</p>
</footer>
<!-- <iframe src="https://giphy.com/embed/dKVw0JwmqjtMA" width="480" height="326" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/crazy-cowboy-bebop-dKVw0JwmqjtMA">via GIPHY</a></p>
<iframe src="https://giphy.com/embed/5vsp9FqLBVk4g" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/crazy-insane-5vsp9FqLBVk4g">via GIPHY</a></p>
<iframe src="https://giphy.com/embed/EIBCRpOceAyWI" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/lucky-star-EIBCRpOceAyWI">via GIPHY</a></p>
<div class="tenor-gif-embed" data-postid="5603794" data-share-method="host" data-width="100%" data-aspect-ratio="1.0"><a href="https://tenor.com/view/jpsleep-rakisuta-luckystar-gif-5603794">寝る　らきすた GIF</a> from <a href="https://tenor.com/search/jpsleep-gifs">Jpsleep GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<div class="tenor-gif-embed" data-postid="11955728" data-share-method="host" data-width="100%" data-aspect-ratio="1.7913669064748199"><a href="https://tenor.com/view/anime-lucky-star-snap-snap-finger-gif-11955728">Anime Lucky Star GIF</a> from <a href="https://tenor.com/search/anime-gifs">Anime GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->
</body>
</html>